.header{
    background-color: #1F2937;
    display: flex;
    flex-direction: column;
    padding: 0 200px;
}
.topheader{
    display: flex;
    justify-content: space-between;
    
}
.bottomfooter{
    display: flex;
    justify-content: space-between;
}
h1{
    font-size: 48px;
    font-weight: bold;
    color: #f9faf8;
}
h3{
    font-size: 24px;
    color: #f9faf8;
}
ul{
    list-style: none;
    color: #e5e7eb;
    font-size: 18px;
    display: flex;
    gap: 19px;
}
.sometxt{
    color: #e5e7eb;
    font-size: 18px;
}
#bigimg{
    height: 400px;
    transform: rotate(90deg);
}
.info{
    text-align: center;
    font-weight: bold;
    color: #1F2937;
    font-size: 36px;
}
.bluebox{
    border: solid;
    border-color: #3882f6;
    border-radius: 20px;
    height: 200px;
    width: 200px;
}
.midimgs{
    display: flex;
    justify-content: center;
    gap: 20px;
}
.boxandtext{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.boxandtext p{
    color: #1F2937;
}
.quote{
    background-color: #e5e7eb;
    padding: 50px 300px;
}
.thequote{
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
    margin: 0 ;
}
.bywho{
    font-weight: bold;
    font-size: 20px;
    text-align: right;
}